<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  
    <ion-buttons end  >
        <button (click)="follow(uid)"  *ngIf="uid != auth.uid" >
            <ion-icon name="custom-follower"></ion-icon>
        </button>
      <button (click)="openSetting()" *ngIf="uid == auth.uid" >
        <ion-icon name="custom-edit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen no-bounce>
  <div class="container" *ngIf="(userData$ | async) as user">
    <div class="info">
      <div class="left">
        <div class="avatar">
          <img [src]="user.photoURL" />
        </div>
      </div>
      <div class="right">
        <div class="name">{{ user.displayName }} 
            <ion-icon  class="gender male" *ngIf="user.gender=='male' " name="custom-male" > </ion-icon>
             <ion-icon class="gender female" *ngIf="user.gender=='female'"  name="custom-female" > </ion-icon> 
        </div>
        <div class="intro">{{ user.intro }}</div>
        <div class="location">
          <ion-icon name="custom-location"> </ion-icon>
          未知
        </div>
      </div>
    </div>

    <div class="statics">
      <div class="section">
        <div class="title">番茄钟</div>
        <div class="number">{{ (tasks$ | async)?.length || 0 }}</div>
      </div>
      <div class="section">
        <div class="title">硬核模式</div>
        <div class="number">{{ (hardcoreOnly$ | async)?.length || 0 }}</div>
      </div>
      <div class="section">
        <div class="title">获赞</div>
        <div class="number">0</div>
      </div>
    </div>
    <div class="activity">
      <div class="title">
        Activity
      </div>

      <div class="content" *ngIf="(tasks$ | async) as tasks">
        <div class="event2 " *ngFor="let task of tasks">
          <div class="icon">
            <div class="avatar">
              <ion-icon name="custom-timer"></ion-icon>
            </div>
          </div>
          <div class="content" *ngIf="task">
            <div class="title">
              <div class="left">
                {{ task.titlePublic ? task.title : "" }} -
                <span>
                  {{
                    task.status == 2
                      ? "完成任务"
                      : task.status == 1
                      ? "进行中"
                      : "失败"
                  }}</span
                >
              </div>
              <div class="right">
                <span *ngIf="task.status == 1"> 进行中</span>
                <span *ngIf="task.status != 1">
                  {{ task.endTask | amTimeAgo }}
                </span>
              </div>
            </div>
            <div class="info">
              <div class="">模式: {{ task.hardcore ? "硬核" : "普通" }}</div>
              <div class="">{{ task.totalTime }} 分钟</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-content fullscreen no-bounce  >

    <div class="fixed-container" ion-fixed >
        <div class="top" >

          <div class="img">
          </div>
          <div class="mask"></div>
        
         
        </div>
        <div class="mid" >
          <ion-slides>
            <ion-slide id="slide1">
                <div class="info">
                  
                    <div class="left">
        
                      <div class="avatar">
                          <div class="">
        
                          </div>
                      </div>
                     
                    </div>
                    <div class="right">
                      <span >关注</span>
                    </div>
                  </div>
            </ion-slide>
            <ion-slide *ngFor="let a of [1,2,3,4,5,6]">
              {{a}}
            </ion-slide>
          </ion-slides>

        </div>
        <div class="bot"></div>
    </div>

   
    
  </ion-content> -->
