page-profile {
    @mixin gradient() {
        //background: rgba(56,55,55,0.09);
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 100%
        );
        background: -webkit-gradient(
          left top,
          left bottom,
          color-stop(0%, rgba(56, 55, 55, 0)),
          color-stop(100%, rgba(66, 65, 65, 0.9))
        );
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.9) 100%
        );
        background: -o-linear-gradient(
          top,
          rgba(56, 55, 55, 0) 0%,
          rgba(66, 65, 65, 0.9) 100%
        );
        background: -ms-linear-gradient(
          top,
          rgba(56, 55, 55, 0) 20%,
          rgba(66, 65, 65, 0.9) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0,0.9) 100%
        );
      }
   

ion-content{
background: #f8f8f8 !important;

.container{
   
    min-height: 80%;
   margin: 10px 25px 10px 50px;

    .info{
        display:flex;
        .left{
            flex-basis:   20vw;
            padding-right: 30px;
            .avatar{
              
                height: 20vw;
                width: 20vw;
                border-radius: 10vw;
                img{
                    display: block;
                    @include square();
                    height: 20vw;
                width: 20vw;
                border-radius: 10vw;
                }
            }


        }
        .right{
            font-family: $font-md;
            .name{
                font-weight: bold;
                font-size: 1.5em;
                color:#313333;
              
                .gender{
                    &.male{
                        color:rgb(158, 164, 250);
                    }
                    &.female{
                        color:rgb(250, 158, 204);
                    }
                }
            }
            .intro{
                margin: 10px 0px;
                font-family: $font-md;
                color: #B7B9C3;
                font-size: 0.9em;
            }
            .location{
               
                @include valign();
                font-size: 0.9em;
                color: #BABCC9;
                ion-icon{
                    zoom: 0.9;
                    margin:5px 5px 5px 0px;
                }

            }

        }
    }
    .statics{
        margin-top:5vh;
      
        min-height: 8vh;
            width:100%;
           // border:1px solid black;
        @include valign();

        .section{
            text-align: center;
            flex:1;
            .title{
           color:rgb(182, 183, 190);
           font-size: 0.8em;


            }
            .number{
                margin: 5px 0px;
                color:#3C3E3E;
                font-family: $font-md;
                font-size: 1.5em;

            }
        }
       
    }
    .activity{
        margin-top:5vh;
        min-height: 200px;
       // background: #B7B9C3;

        .title{
            margin-bottom: 3vh;
            font-family: $font-md;
font-size: 1.1em;
//letter-spacing: 0.5px;
            color:#A6AABB;

        }
        .content{
           // padding: 20px;

           .event2{
            display: flex;
            background: white;
            @include box-shadow(0, 5px, 10px, 0px, rgba(224, 224, 224, 0.199));
            border-radius: 1em;
            padding: 15px;
            margin-bottom: 20px;
        
            .icon{
                @include center();
                flex-basis: 10vw;
            }
            &.other{
        
                img{ 
                    @include square();
                    height:20px !important;
                    width:20px !important;
                    border-radius: 5px !important;
                }
            }
        
            .content{
                
                flex:1;
                padding-left: 15px;
                .title{
                    margin: 0px;
                    display: flex;
                    color:#48484b;
                    .left{
                        text-transform: capitalize;
                        
                        font-size: 0.9em;
                        flex:1;
                        span{
                            color:grey;
                            font-size: 0.9em;
                            font-family: $font-reg;
                        }
                    }
                    .right{
                        font-family: $font-reg;
                        font-size: 0.8em;
                    }
                }
                .info{
                    color:#7d7e81;
                    font-size: 0.7em;
                    display: block;
                    div{
                    //    @include bd(red);
                        display: block;
                    }
                    
                }
            }
            
        }

            // .event{
            //     margin-bottom: 3vh;
            //     background: #fcfcfc;
            //     min-height: 100px;
            //     border-radius: 5px;
            //   @include box-shadow(-3px, 0px , 20px , 0px, rgba(0, 0, 0, 0.02));
            //   //-webkit-box-shadow: 0px 0px 45px -27px rgba(0,0,0,1);
            //     display: flex;
                

            //     .left-section{
                   
            //         flex-basis: 20%;
            //         @include center();
            //         ion-icon{
                    
            //             zoom: 1.5;
            //             color: #BABCC9;
            //         }

                    
            //     }
            //     .right-section{
            //         flex:1;
            //        // @include bd(red);
            //         padding:20px 10px ;


            //         .eventTitle{
            //             font-family: $font-md;
            //             color: #aeb0bc;
            //             display: flex;
                        
            //             .left{
            //                 font-size: 0.9em;
            //                 flex:1;
            //             }
            //             .right{
            //                 padding-right:10px;
            //                 font-family: $font-reg;
            //                 font-size: 0.9em;
            //             }
            //         }
            //         .content{
            //             margin-top: 5px;
            //             font-size: 0.8em;
            //             color: #aeb0bc;
            //         }
                 
            //     }
                
            // }
        }
    }
}
}



}
