// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body{font: 12px arial;}

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 16px !important;
      height: 16px !important;
    }
  
    &[class*="custom-timer"] {
      mask-image: url(../assets/icon/timer.svg);
    }
    &[class*="custom-location"] {
        mask-image: url(../assets/icon/location.svg);
      }
      &[class*="custom-location2"] {
        mask-image: url(../assets/icon/location2.svg);
      }
      &[class*="custom-male"] {
        mask-image: url(../assets/icon/male.svg);
      }
      &[class*="custom-female"] {
          mask-image: url(../assets/icon/female.svg);
        }
        &[class*="custom-nickname"] {
          mask-image: url(../assets/icon/nickname.svg);
        }
        &[class*="custom-gender"] {
          mask-image: url(../assets/icon/gender.svg);
        }
        &[class*="custom-intro"] {
          mask-image: url(../assets/icon/intro.svg);
        }
        &[class*="custom-right-arrow"] {
          mask-image: url(../assets/icon/right-arrow.svg);
        }
        &[class*="custom-edit"] {
          mask-image: url(../assets/icon/edit.svg);
        }
        &[class*="custom-follower"] {
          mask-image: url(../assets/icon/follower.svg);
        }

        &[class*="custom-time"] {
          mask-image: url(../assets/icon/time.svg);
        }
        &[class*="custom-trash"] {
          mask-image: url(../assets/icon/trash.svg);
        }


}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

$red:#C3452C;


@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat-Medium.otf');
    }
@font-face {
        font-family: 'Montserrat-Regular';
        src: url('../assets/fonts/Montserrat-Regular.otf');
        }
@font-face {
            font-family: 'Montserrat-SemiBold';
            src: url('../assets/fonts/Montserrat-SemiBold.otf');
            }
@font-face{
    font-family: 'HYQiHei-bold';
    src: url('../assets/fonts/HYQiHeiX1-55W.ttf');
}
@font-face{
    font-family: 'HYQiHei-reg';
    src: url('../assets/fonts/HYQiHeiX1-45W.ttf');
}

$font-family-md-base: "Montserrat-SemiBold";
$font-family-ios-base: "Montserrat-SemiBold";
$font-family-wp-base: "Montserrat-SemiBold";
$font-bold:"Montserrat-SemiBold";
$font-md:"Montserrat-Medium";
$font-reg:"Montserrat-Regular";
$font-hf-bold:"HYQiHei-bold";
$font-hf-reg:'HYQiHei-reg';


@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {

    -webkit-box-shadow:$top $left $blur $spread $color #{$inset};
    -moz-box-shadow:$top $left $blur $spread, $color #{$inset};
    box-shadow:$top $left $blur $spread $color #{$inset};
  }
  
@mixin  img($url) {
    background-image:url($url);
    background-position: center;
    background-size: cover;
}
@mixin valign{
    display: flex;
    align-items: center;
}

@mixin bd($color){
    border: 1px solid $color;
}

@mixin square(){
    object-fit:cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}
@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}






///

ion-menu{
font-family: $font-hf-bold;
.item-md.item-block .item-inner{
    border: none;
    text-align: center;
}
    .bg{
       
        position: absolute;
        bottom: 0px;
        img{
          
            display: block;
        }
       
    }
}




ion-header {
 // @include bd(red);
    ion-buttons {
     
      margin-right:20px;
      margin-top: 10px;
      margin-bottom: 10px;
      .avatar {
        height: 50px;
        width: 50px;
       
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        // overflow: hidden;
        img {
          display: block;
          height: 50px;
          width: 50px;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;

          @include square();
          overflow: hidden;
        }
      }
    }
  }
  @mixin padding()  {
    padding: 10px 25px 10px 50px;
  }