// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
    font-family: 'Open Sans', sans-serif;

}

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 16px !important;
      height: 16px !important;
    }
  
    &[class*="custom-timer"] {
      mask-image: url(/assets/icon/timer.svg);
    }

}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}

$red:#C3452C;


@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../assets/fonts/Montserrat-Medium.otf');
    }
@font-face {
        font-family: 'Montserrat-Regular';
        src: url('../assets/fonts/Montserrat-Regular.otf');
        }
@font-face {
            font-family: 'Montserrat-SemiBold';
            src: url('../assets/fonts/Montserrat-SemiBold.otf');
            }
@font-face{
    font-family: 'HYQiHei-bold';
    src: url('../assets/fonts/HYQiHeiX1-55W.ttf');
}
@font-face{
    font-family: 'HYQiHei-reg';
    src: url('../assets/fonts/HYQiHeiX1-45W.ttf');
}

$font-family-md-base: "Montserrat-SemiBold";
$font-family-ios-base: "Montserrat-SemiBold";
$font-family-wp-base: "Montserrat-SemiBold";
$font-bold:"Montserrat-SemiBold";
$font-md:"Montserrat-Medium";
$font-reg:"Montserrat-Regular";
$font-hf-bold:"HYQiHei-bold";
$font-hf-reg:'HYQiHei-reg';


@mixin valign{
    display: flex;
    //justify-content: center;
    align-items: center;
}
@mixin bd($color){
    border: 1px solid $color;
}


@mixin center(){
    display: flex;
    justify-content: center;
    align-items: center;
}






///

ion-menu{
font-family: $font-hf-bold;
.item-md.item-block .item-inner{
    border: none;
    text-align: center;
}
    .bg{
       
        position: absolute;
        bottom: 0px;
        img{
          
            display: block;
        }
       
    }
}