page-edit-profile-user-name {
    ion-navbar{
        //@include bd(red);
        ion-buttons{
            height: 100%;
           // @include bd(red);
         
            button{
                font-family: $font-md;
                font-size: 1em;
                color:$red;
            }
        }
    }
    ion-content{
        // @include bd(red);
margin-top:20px;
        .title{
          
          //  padding-left: px !important;
            
        }
        .edit-input{
           
            padding-left: 0px !important;
        } 

        .description{
            padding:6px  0px;
            font-size: 0.8em;
        }
    }
    
}
